In [1]:
import pandas as pd

In [25]:
df = pd.read_parquet("./opendata/data/")
df.shape

(4007340, 7)

In [26]:
df.head()

,ts_event,ts_state,sign_id,road,carriageway,lane,km
0,2019-09-19T12:29:20.622Z,2019-09-19T12:29:15.586Z,1efa8916-c854-465b-80f5-1f02fd25fb31,A2,R,1,134.960
1,2024-11-29T15:32:36.961Z,2024-11-29T15:32:36.000Z,1efa8916-c854-465b-80f5-1f02fd25fb31,None,None,None,None
2,2019-09-19T12:25:43.827Z,2019-09-19T12:25:36.159Z,73bf3758-6754-433f-9896-d03c0673ae55,A1,R,3,11.593
3,2024-11-29T15:34:56.894Z,2024-11-29T15:34:54.000Z,73bf3758-6754-433f-9896-d03c0673ae55,None,None,None,None
4,2024-03-16T09:24:10.287Z,2024-03-16T09:24:00.636Z,585ef8be-533f-4634-8cfd-0703689d5689,N7,R,1,195.280